{% extends 'base.html.twig' %}

{% block title %}Lista Firm{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 12px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 1px 6px; }
</style>

<div class="example-wrapper">
    <h4>lista firm</h4>

    {% for company in companies %}
        <p>{{ company }} <a href="/company/{{ company.id }}">View</a> </p>
     
    {% endfor %}
</div>    
{% endblock %}
